@font-face {
  font-family: 'flappy';
  src: url('/fonts/flappy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'flappyRegular';
  src: url('/fonts/flappyRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-color: #66d0ff;
}

.group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.cloud {
  margin-top: 10rem;
  margin-left: 5rem;
  width: 350px;
  height: 120px;
  position: relative;
  background: #eceff1;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  animation: moveClouds linear infinite;
}

.cloud:after,
.cloud:before {
  content: '';
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}

.cloud::after {
  width: 100px;
  height: 100px;
  top: -140px;
  left: -120px;
}

.cloud::before {
  width: 180px;
  height: 180px;
  top: -70px;
  left: 130px;
}

.cloud-one {
  animation-duration: 5s;
  top: 2px;
  left: -10px;
}

.cloud-two {
  animation-duration: 10s;
  top: 10px;
  left: -15px;
  opacity: 0.8;
}

.cloud-three {
  animation-duration: 9s;
  top: 8px;
  left: -5px;
  opacity: 0.9;
}

.text-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  position: relative;
  background: transparent;
  align-items: center;
  height: 30vh;
}

.Text {
  position: absolute;
  color: rgb(54, 54, 54);
  font-size: 8rem;
  background: transparent;
  background-color: #eceff1;
  text-align: center;
  width: 60%;
  padding: 10px;
  margin-top: 2rem;
  font-family: 'flappy', sans-serif;
  word-wrap: break-word;
  border-radius: 50px;
  box-shadow: 10px 10px 20px rgba(27, 186, 235, 0.425);
  z-index: 1000;
}

@keyframes moveClouds {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
